{% if itens_da_pesquisa %}
<div class="box box-primary itens_pesquisa">
    <div class="box-header with-border">
        <h3 class="box-title" data-unsp-sanitized="clean">Resultados</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <form action="{% url 'colocar_no_historico_atual' %}">
            <input type="hidden" name="p" value="{{ pessoa_pesquisada.id }}">
            <input type="hidden" name="ip" value="{{item_pesquisado_texto}}">
            <input type="hidden" name="h" value="{{ historico_pesquisa_texto }}">
            <ul class="products-list product-list-in-box">
                {% for item in itens_da_pesquisa %}

                <li class="item">

                    {% include "part_busca_item.html" %}

                </li>

                {% endfor %}
            </ul>

            <div class="box-footer">
                <button type="button" onclick="btn_pesquisa_selecao_todos(true)" class="btn btn-info"> <i class="fa fa-check-square "></i></button>
                <button type="button" onclick="btn_pesquisa_selecao_todos(false)" class="btn btn-warning"> <i class="fa fa-square "></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-times "></i></button>
                <button type="submit" class="btn btn-success pull-right"><i class="fa fa-arrow-down"></i> Colocar na
                    lista de histórico atual</button>

            </div>
        </form>
        <div class="box-tools pull-right">

        </div>
        <script>
            function btn_pesquisa_selecao_todos(v) {
                $('.itens_pesquisa .item_pesquisado').prop('checked', v);
            }
        </script>
    </div>
</div>

{% endif %}

{% if itens_historico_pesquisa %}

<div class="box box-warning historico">
    <div class="box-header with-border">
        <h3 class="box-title" data-unsp-sanitized="clean">Seu histórico de pesquisa atual</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <ul class="products-list product-list-in-box">

            {% for item in itens_historico_pesquisa %}

            <li class="item">

                {% include "part_busca_item.html" %}

            </li>

            {% endfor %}

        </ul>
        <div class="box-footer">
            <button type="submit" onclick="btn_historico_selecao_todos(true)" class="btn btn-info"><i class="fa fa-check-square "></i></button>
            <button type="submit" onclick="btn_historico_selecao_todos(false)" class="btn btn-warning"><i class="fa fa-square "></i></button>
            <!--<button type="submit" class="btn btn-success pull-right"><i class="fa fa-arrow-down"></i> Devolver todos os selecionados</button>-->
        </div>
        <script>
            function btn_historico_selecao_todos(v) {
                $('.historico .item_pesquisado').prop('checked', v);
            }
        </script>

    </div>

</div>

{% endif %}

{% if emprestimos_pessoa %}
<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title" data-unsp-sanitized="clean">Empréstimos da pessoa solicitante</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <ul class="products-list product-list-in-box">


            <li class="item">

                {% include "part_busca_item.html" %}

            </li>

        </ul>
        <div class="box-footer">
            <button type="submit" class="btn btn-info">Selecionar tudo</button>
            <button type="submit" class="btn btn-warning">Inverter seleção</button>
            <button type="submit" class="btn btn-success pull-right"><i class="fa fa-arrow-down"></i> Devolver todos os
                selecionados</button>
        </div>
    </div>

</div>

{% endif %}