{% load static %}
<div class="input-group">
    <span class="input-group-addon">
        <input type="checkbox" class="item_pesquisado" id="it-{{ item.id }}" name="it-{{ item.id }}" data-itemid="{{ item.id }}" >
    </span>
    <div class="with-border" style="border: 1px solid silver; overflow: auto; ">
        <div class="product-img">
            <img src="{% static 'img/default-50x50.gif' %}" alt="{{ item.nome }}"><br>
            <span class="label label-{{ item.status.2 }}">{{ item.status.1 }}</span>   
        </div>
        <div class="product-info">
            <p class="product-description" style="white-space: initial">
                {{ item.tipo.descricao }}
            </p>
            {% if item.status.0 == 1 %}
            <p class="pull-right">
                <a class="btn btn-success btn-xs" href="#">Emprestar agora</a>
            </p>
            {% elif item.status.0 >= 11 %}
            <p class="pull-right">
                <a class="btn btn-danger btn-xs" href="#">Devolver agora</a>
            </p>
            {% endif %}
        </div>
        
        
    </div>
</div>