{% load static %}
<div class="input-group">
    <span class="input-group-addon">
        <input type="checkbox">
    </span>
    <div class="with-border">
        <div class="product-img">
            <img src="{% static 'img/default-50x50.gif' %}" alt="{{ item.nome }}">
        </div>
        <div class="product-info">
            <a data-toggle="modal" data-target="#modal-default" href="javascript:void(0)" class="product-title"
                data-unsp-sanitized="clean">{{ item.nome }}
                {{ item.tipo }}
                <span class="label label-warning pull-right">{{ item.status }}</span></a>
            <span class="product-description">
                {{ item.descricao }}
            </span>
        </div>
    </div>
</div>